@import "../common.scss";

.wrap {
  @include container;
  display: flex;
  position: relative;

  .left {
    min-width: 610px;
    margin-right: 60px;
    margin-top: 160px;
    padding-bottom: 72px;

    .sliderContainer {
      display: none;
    }

    .title {
      font: var(--font-title);
    }

    .selectedCars {
      .carsGrid {
        padding: 40px 0;
        min-height: 480px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row wrap;

        .image {
          position: relative;
          width: 600px;
          height: 375px;
          flex: 1 0 auto;

          .quantity {
            z-index: 1;
            position: absolute;
            left: 80%;
            top: 20px;
            background: var(--color-green);
            color: white;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font: var(--font-bold);
            font-size: 25px;
            box-shadow: 0px 8px 12px rgba(29, 180, 100, 0.16);
          }

          &.twin {
            width: 360px;
            height: 200px;

            .quantity {
              width: 50px;
              height: 50px;
              font-size: 22px;
            }
          }

          &.triple {
            width: 300px;
            height: 200px;

            .quantity {
              width: 40px;
              height: 40px;
              font-size: 20px;
            }
          }

          &.quarter {
            width: 200px;
            height: 200px;

            .quantity {
              width: 35px;
              height: 35px;
              font-size: 16px;
            }
          }
        }
      }

      .description {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .carTitle {
          font: var(--font-bold);
          font-size: 25px;
          line-height: 130%;
          text-align: right;

          &.quantity {
            text-align: left;
            font-size: 20px;
          }

          &.quantitySmall {
            display: none;
          }
        }

        .carPrice {
          text-align: right;

          .price {
            font-size: 50px;
            line-height: 100%;
          }

          .hint {
            font-size: 16px;
            margin-top: 8px;
          }
        }
      }
    }
  }

  .right {
    width: 100%;
    color: white;
    margin-bottom: 60px;
    background: var(--color-green);
    padding-bottom: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .hint2 {
    font-size: 16px;
    color: #b7b7b7;
    position: absolute;
    bottom: 20px;
    left: 730px;
  }

  .selectCar {
    margin: 180px 50px 20px;

    .carCard {
      margin: 16px 0;
      // display: flex;
      // justify-content: space-between;
      height: 140px;
      // max-width: 200px;
      padding: 20px;
      cursor: pointer;
      border-radius: 8px;
      background: #167a45;
      position: relative;

      .checkIcon {
        position: absolute;
        right: 12px;
        top: 16px;
      }

      .description {
        .carTitle {
          font: var(--font-bold);
          font-size: 25px;
        }

        .price {
          margin-top: 8px;
          font-size: 16px;
        }
      }

      .imageContainer {
        position: absolute;
        top: 20px;
        right: 20px;

        .image {
          position: relative;
          width: 180px;
          height: 100px;
        }
      }

      &.selected {
        background: white;
        color: black;

        &.last {
          cursor: default;
        }
      }

      .quantity {
        display: flex;
        margin-top: 10px;
        align-items: center;
        user-select: none;

        .number {
          text-align: center;
          min-width: 30px;
        }

        .minus,
        .plus {
          height: 25px;
          width: 25px;
          border-radius: 4px;
          background: var(--color-green);
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          font-size: 25px;
        }
      }
    }
  }

  @media (max-width: 1280px) {
    flex-direction: column;

    .left {
      min-width: unset;
      margin-right: unset;
      margin-top: 50px;
      padding-bottom: 0;

      .sliderContainer {
        display: block;
        max-width: 100%;
        margin-top: 25px;
      }

      .selectedCars {
        .carsGrid {
          padding: 20px 0;
          min-height: 440px;

          .image {
            max-width: 100%;
            // &.twin,
            &.triple,
            &.quarter {
              max-width: 50%;
            }
          }
        }

        .description {
          .carTitle {
            font-size: 22px;
            text-align: left;

            &.quantity {
              display: none;
            }

            &.quantitySmall {
              display: table-cell;
              font-size: 16px;
              vertical-align: middle;
              display: none;
            }
          }

          .carPrice {
            .price {
              font-size: 30px;
            }

            .hint {
              font-size: 12px;
            }
          }
        }
      }
    }

    .right {
      display: none;
    }

    .hint2 {
      position: unset;
      font-size: 14px;
      margin-top: 10px;
    }

    .selectCar {
      margin: 0;

      .carCard {
        margin: 16px 0;
        height: 120px;
        padding: 10px;
        margin: 0 5px;
        background: #d8d8d8;

        .checkIcon {
          position: absolute;
          right: 7px;
          top: 10px;
        }

        .description {
          .carTitle {
            font: var(--font-bold);
            font-size: 15px;
          }

          .price {
            margin-top: 8px;
            font-size: 16px;
          }
        }

        .imageContainer {
          position: absolute;
          top: 30px;
          right: 10px;

          .image {
            position: relative;
            width: 120px;
            height: 70px;
          }
        }

        &.selected {
          background: var(--color-green);
          color: white;
        }

        .quantity {
          position: absolute;
          bottom: 15px;
          z-index: 1;

          .number {
            text-align: center;
            min-width: 30px;
          }

          .minus,
          .plus {
            background: rgba(0, 0, 0, 0.4);
            display: flex;
            color: white;
          }
        }
      }
    }
  }
}
