@import "../common.scss";

.wrap {
  background: var(--color-green);
  // display: flex;
  width: 100%;
  min-height: 340px;
  overflow: hidden;

  .inner {
    @include container;
    color: white;
    position: relative;

    .left {
      width: 530px;

      .title {
        font: var(--font-title);
        margin: 40px 0;
      }

      .button {
        width: 330px;
        margin-bottom: 60px;
      }
    }

    .over {
      position: absolute;
      background: #1a1a1a;
      top: -40px;
      height: 270px;
      left: 600px;
      width: 100%;
      border-bottom-left-radius: 110px;

      background-image: url("/car.png"), url("/car.svg");
      background-repeat: no-repeat;
      background-size: 800px, 50%;
      background-position: 330px -60px, 490px 0px;

      display: flex;
      flex-direction: column;
      padding-top: 65px;
      padding-left: 60px;

      .button {
        display: none;
      }

      .line {
        position: absolute;
        border-left: 2px solid #4f4f4f;
        height: 52px;
        margin-left: 14px;
        margin-top: 37px;
      }

      .item {
        z-index: 1;
        display: flex;
        font: var(--font-bold);
        margin-bottom: 50px;

        .number {
          width: 30px;
          height: 30px;
          border-radius: 30px;
          background: var(--color-green);
          display: flex;
          justify-content: center;
          align-items: center;
          color: black;
        }

        .text {
          margin-left: 40px;
          max-width: 300px;

          .link {
            display: inline;
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }

    .over2 {
      display: none;
    }
  }

  @media (max-width: 1280px) {
    min-height: 740px;

    .inner {
      flex-direction: column;

      .left {
        width: unset;

        .button {
          display: none;
        }
      }

      .over {
        position: unset;
        background: unset;
        top: unset;
        height: unset;
        left: -unset;
        margin-left: unset;
        height: unset;
        width: unset;

        display: flex;
        flex-direction: column;
        padding-top: 0;
        padding-left: 0;

        .button {
          display: block;
        }

        .line {
          position: absolute;
          border-left: 2px solid #007235;
          height: 76px;
          margin-left: 21px;
          margin-top: 37px;
        }

        .item {
          z-index: 1;
          display: flex;
          font: var(--font-bold);
          margin-bottom: 50px;
          align-items: center;

          .number {
            width: 44px;
            height: 44px;
            border-radius: 30px;
            background: #007235;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            flex: 0 0 auto;
            border: 5px solid var(--color-green);
          }

          .text {
            margin-left: 10px;
            max-width: unset;
            flex: 0 1 auto;

            a {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .over2 {
      display: block;
      width: 100vw;
      height: 280px;
      // bottom: 0;
      position: absolute;
      background-image: url("/car.png"), url("/car-mobile.svg");
      background-size: 900px, 700px;
      background-position: -60px, -10px 20px;
      background-repeat: no-repeat;
    }
  }
}
