@import "../common.scss";

$inputWidth: 350px;

.wrap {
  .title {
    font: var(--font-title);
    font-size: 35px;
    display: flex;
    margin-top: 70px;
    line-height: 120%;
    align-items: flex-start;

    *:first-child {
      flex: 0 0 auto;
    }

    div {
      margin-left: 16px;
    }
  }

  .form {
    position: relative;
    margin-top: 40px;

    .formItem {
      margin-bottom: 25px;

      .formItemInner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .label {
          font-weight: 600;
        }

        .select {
          width: $inputWidth;
          border-radius: 25px;
          border-color: #b7b7b7;
          padding: 10px 40px 10px 30px;
        }

        .radio {
          flex: 0 1 350px;
        }
      }
    }
  }

  .bottom {
    display: flex;

    .schedule {
      flex: 1 0 auto;
      display: flex;
      align-items: center;

      *:first-child {
        flex: 0 0 auto;
      }

      div {
        margin-left: 16px;
      }
    }

    .button {
      width: $inputWidth;
    }
  }

  @media (max-width: 1280px) {
    .title {
      font-size: 20px;
      align-items: center;
      margin-top: 25px;
    }

    .modal {
      padding: 8px;
    }

    .form {
      // padding-left: 24px;

      .formItem {
        margin-top: 40px;

        .formItemInner {
          align-items: flex-start;
          flex-direction: column;
          // width: calc(100vw - 36px);
          width: 100%;

          .label {
            margin-bottom: 14px;
          }

          .select {
            // margin-left: -20px;
            // width: calc(100vw - 36px);
            width: 100%;
          }

          .radio {
            // margin-left: -20px;
            flex: unset;
            width: 100%;
          }
        }
      }
    }

    .bottom {
      flex-direction: column;

      .button {
        margin-top: 20px;
        width: 100%;
      }
    }
  }
}

.modal {
  .title {
    font: var(--font-title);
    font-size: 35px;
  }
  .subtitle {
    font: var(--font-subtitle);
    font-size: 18px;
    line-height: 130%;
    margin-bottom: 10px;
  }
  .hint {
    font-size: 14px;
    color: #717171;
    max-width: 480px;
  }
  .addon {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      padding-left: 8px;
      color: var(--color-green);
    }
  }

  @media (max-width: 1280px) {
    .title {
      font-size: 30px;
    }
  }
}

.form {
  min-width: 570px;

  .twoColumns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .spacer {
      width: 20px;
    }

    label {
      flex: 1 1 auto;
    }
  }

  label {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    span {
      font: var(--font-bold);
      margin-bottom: 4px;
    }

    input,
    textarea {
      background: #f2f2f2;
      border: 2px solid transparent;
      border-radius: 4px;
      outline: none;
      padding: 16px 20px;
      font: var(--font-base);

      &:focus {
        border-bottom-color: var(--color-green);
      }

      &.errored {
        border-bottom-color: var(--color-red);
      }
    }

    textarea {
      height: 175px;
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    span {
      font-size: 12px;
    }

    .spacer {
      height: 25px;
    }
  }

  @media (max-width: 768px) {
    min-width: unset;

    .twoColumns {
      flex-direction: column;
    }
  }
}

.card {
  margin: 30px 0 20px;
  border: 1px solid #b7b7b7;
  border-left: none;
  border-right: none;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;

  .container {
    .cars {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      .carList {
        border-right: 1px solid #b7b7b7;
        padding-right: 8px;

        .carItem {
          td:first-child {
            text-align: right;
          }
          td:last-child {
            white-space: nowrap;
          }
        }
      }

      .sum {
        padding-left: 8px;
        font: var(--font-subtitle);
        font-size: 18px;
      }
    }

    .info {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;

      .header {
        font-size: 12px;
      }

      .value {
        font: var(--font-subtitle);
      }

      .spacer {
        width: 20px;
      }
    }
  }

  .auto {
    position: relative;

    &.auto_desktop {
      width: 40%;
      margin-left: 40px;
    }

    &.auto_mobile {
      display: none;
    }
  }

  .term {
    background: var(--color-green);
    color: white;
    font: var(--font-bold);
    border-radius: 16px;
    padding: 8px 16px;
    position: absolute;
    z-index: 1;
    left: -40px;
    top: -10px;
  }

  @media (max-width: 768px) {
    display: block;

    .container {
      .cars {
        align-items: center;
      }
    }

    .auto {
      &.auto_desktop {
        display: none;
      }
      
      &.auto_mobile {
        display: block;
        height: 180px;
      }
    }

    .term {
      top: 10px;
      left: 0;
    }
  }
}
