@import "../common.scss";

.wrap {
  @include container;
  margin-top: 60px;

  .title {
    margin-bottom: 60px;
    font: var(--font-title);
    text-align: center;
  }

  .itemWrap {
    @include transition;
    min-height: 100px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    border: 1px solid var(--color-green);
    margin-bottom: 24px;
    padding: 20px 100px 20px 40px;
    cursor: pointer;
    position: relative;

    .item {
      .question {
        @include transition;
        font: var(--font-bold);
        font-size: 23px;
        line-height: 120%;
        margin-bottom: 0;
      }

      .answer {
        @include transition;
        font: var(--font-base);
        font-size: 18px;
        line-height: 150%;
        overflow: hidden;
        height: 0;
        opacity: 0;
      }
    }

    .icon {
      position: absolute;
      right: 30px;
      top: 25px;
      width: 48px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &.opened {
      min-height: unset;
      padding: 40px 100px 40px 40px;
      background: #e4f4ec;
      border-color: #e4f4ec;

      .item {
        .question {
          margin-bottom: 19px;
        }

        .answer {
          height: auto;
          opacity: 1;
        }
      }
    }
  }

  @media (max-width: 1280px) {
    .itemWrap {
      padding: 20px 60px 20px 20px;

      .item {
        .question {
          font-size: 20px;
        }

        .answer {
          font-size: 15px;
        }
      }

      .icon {
        position: absolute;
        right: 20px;
        top: 25px;
        width: 24px;
        height: 24px;
      }

      &.opened {
        min-height: unset;
        padding: 20px 60px 20px 20px;
        background: #e4f4ec;
        border-color: #e4f4ec;
      }
    }
  }
}
