@import "../common.scss";

.wrap {
  @include container;

  margin-top: 80px;
  padding-bottom: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    font-size: 14px;
  }

  .downloads {
    .item:first-child {
      margin-bottom: 18px;
    }
  }

  @media (max-width: 1280px) {
    flex-direction: column;
    margin-top: 50px;

    .logo {
      text-align: center;
    }

    .downloads {
      margin-top: 20px;
      margin-bottom: 50px;

      .item {
        justify-content: center;
      }
    }

    .contacts {
      align-items: center;
    }

    .button {
      width: 100%;
      margin: 25px 0 150px;
    }
  }
}
