@import "../common.scss";

.wrap {
  @include container;
  display: flex;

  .left {
    min-width: 670px;
    padding-right: 60px;
    margin-top: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .kebab {
      display: none;
    }
  }

  .right {
    width: 100%;
    color: white;
    background: var(--color-green);
    border-top-left-radius: 110px;
    padding-top: 27px;
    padding-bottom: 36px;

    .contacts {
      margin-right: 55px;
      max-width: 235px;
    }
  }

  @media (max-width: 1280px) {
    flex-direction: column;

    .left {
      min-width: unset;
      justify-content: flex-start;
      margin-top: 16px;
      margin-bottom: 8px;

      .kebab {
        position: relative;
        display: block;
        width: 28px;
        height: 24px;
        margin: 0 10px 6px 0;
      }

      .mobileMenu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background: white;
        padding: 16px 16px 32px 53px;
        width: 100%;

        .logo {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          padding-right: 8px;

          .times {
            position: relative;
            width: 18px;
            height: 18px;
          }
        }

        .downsList {
          .downsItem {
            margin: 16px 0;
          }
        }

        hr {
          width: 100%;
          margin: 24px 0 30px -20px;
        }

        .contacts {
          align-items: flex-start;

          div {
            text-align: left;
          }
        }
      }
    }

    .right {
      display: none;
    }
  }
}
