@import "../common.scss";

.wrap {
  max-width: 100vw;
  overflow: hidden;
  min-height: 536px;

  .inner {
    @include container;
    position: relative;
    display: flex;

    .left {
      min-width: 670px;
      margin-right: 0px;
      padding-bottom: 172px;

      .title {
        font: var(--font-title);
      }

      .description {
        margin-top: 28px;
        margin-bottom: 52px;
        font: var(--font-bold);
        font-size: 25px;
      }
    }

    .right {
      width: 100%;
      color: white;
      background: var(--color-green);
    }

    .imgContainer {
      position: absolute;
      height: 508px;
      width: 100vw;
      left: 0;
      background-image: url("/hero.png");
      background-size: 1400px;
      background-repeat: no-repeat;
      background-position: 450px -310px;
      pointer-events: none;
    }

    .button_2 {
      display: none;
    }
  }

  @media (max-width: 1280px) {
    min-height: unset;
    overflow: unset;

    .inner {
      flex-direction: column;
      overflow: hidden;

      .left {
        min-width: unset;
        padding-bottom: unset;

        .description {
          margin-bottom: unset;
          font-size: 16px;
        }

        .button {
          display: none;
        }
      }

      .right {
        display: none;
      }

      .imgContainer {
        position: unset;
        background-size: 600px;
        background-position: 0px;
        height: 227px;
        width: calc(100% + 16px);
      }

      .button_2 {
        display: unset;
        box-shadow: 0px 8px 12px rgba(118, 118, 118, 0.16);
        width: 100%;
        margin: 20px auto;
      }
    }
  }
}
