@import "../common.scss";

.wrap {
  @include container;
  display: flex;

  .left {
    min-width: 670px;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: space-between;

    .title {
      font: var(--font-title);
      margin-bottom: 55px;
    }

    .conditions {
      display: none;
    }

    .list {
      display: flex;
      flex-direction: column;
      position: relative;

      .line {
        position: absolute;
        margin-left: 20px;
        margin-top: 40px;
        height: calc(100% - 140px);
        border-left: 2px solid #d0e9dc;
        z-index: -1;
      }

      .item {
        display: flex;
        align-items: center;
        margin-bottom: 50px;
        flex: 1 1 auto;

        .image {
          background: white;
        }

        .description {
          margin-left: 43px;
          font: var(--font-bold);
          font-size: 18px;
          line-height: 148%;
        }
      }
    }
  }

  .right {
    width: 100%;
    color: white;
    background: var(--color-green);
    color: white;

    .aggregators {
      padding-top: 20px;
      display: flex;
      justify-content: center;
    }

    .conditions {
      margin: 64px 50px 0;
      padding-bottom: 30px;
      border-bottom: 1px solid white;
      font: var(--font-title);
      font-size: 25px;
      line-height: 117%;
      display: flex;

      div:nth-child(1) {
        flex: 30%;
      }

      div:nth-child(2) {
        flex: 35%;
      }
    }

    .guard {
      font: var(--font-title);
      font-size: 30px;
      line-height: 117%;
      text-align: center;
      margin: 52px 0 34px;

      .button {
        margin-top: 23px;
        width: calc(100% - 100px);
      }
    }

    .downloads {
      margin-left: 50px;

      .item {
        font: var(--font-bold);
        font-size: 20px;
        margin-bottom: 16px;
        text-decoration: none;
      }
    }
  }

  @media (max-width: 1280px) {
    flex-direction: column;
    margin-top: 40px;

    .left {
      min-width: unset;

      .title {
        margin-bottom: 35px;
      }

      .conditions {
        display: unset;
        margin: 0 0 20px;
        padding-bottom: 30px;
        border-bottom: 1px solid white;
        font: var(--font-title);
        font-size: 20px;
        line-height: 117%;
        display: flex;
        justify-content: space-between;
        color: var(--color-green);

        div:nth-child(1) {
          flex: 1 1 auto;
          max-width: 100px;
        }

        div:nth-child(2) {
          flex: 1 1 auto;
          max-width: 165px;
        }
      }

      .list {
        border-bottom: 1px solid black;

        .item {
          .description {
            font-size: 15px;
          }
        }
      }
    }

    .right {
      color: black;
      background: unset;
      width: unset;

      .aggregators {
        display: none;
      }

      .conditions {
        display: none;
      }

      .guard {
        font-size: 23px;
        margin-top: 28px;

        .button {
          width: 100%;
        }
      }

      .downloads {
        margin-left: unset;
        text-decoration: underline;
      }
    }
  }
}
