@import "../common.scss";

.wrap {
  @include container;
  margin-top: 60px;
  margin-bottom: 50px;

  .row {
    display: flex;
    margin-top: 60px;

    .reasons {
      flex: 0 0 50%;

      .icon {
        display: none;
      }

      .title {
        font: var(--font-title);
        font-size: 35px;
        line-height: 120%;
        margin-bottom: 40px;
      }

      .reasonItem {
        padding-right: 50px;
        margin-bottom: 40px;
        display: flex;

        .icon {
          display: unset;
          flex: 0 0 auto;
          margin-right: 16px;
        }

        .text {
          .title {
            font: var(--font-subtitle);
            font-size: 24px;
            margin-bottom: 16px;
          }

          .subtitle {
            font: var(--font-subtitle);
            font-size: 20px;
            line-height: 130%;

            &.red {
              color: var(--color-red);
            }

            &.green {
              color: var(--color-green);
            }
          }

          .description {
            font: var(--font-base);
            line-height: 148%;

            p {
              margin: 0;
            }

            ul {
              li {
                padding: 4px 0;
              }
            }
          }
        }
      }
    }
  }

  .addon {
    background: #e4f4ec;
    border-radius: 20px;
    font: var(--font-subtitle);
    font-size: 30px;
    line-height: 124.2%;
    padding: 23px 150px 19px 43px;
    background-image: url("/shield.svg");
    background-repeat: no-repeat;
    background-position: top 10px right -30px;
  }

  @media (max-width: 1280px) {
    margin-top: 0;

    .row {
      flex-direction: column;
      // margin-top: 0;

      .reasons {
        .icon {
          display: block;
          margin: 60px 0 20px;
        }

        .title {
          margin-bottom: 20px;
        }

        .reasonItem {
          padding-right: unset;
          margin-bottom: unset;
          display: unset;

          .icon {
            display: none;
          }

          .text {
            .title {
              font: var(--font-subtitle);
              font-size: 20px;
              margin-bottom: 16px;
            }

            .subtitle {
              font: var(--font-subtitle);
              font-size: 20px;
              line-height: 130%;
              margin: 16px 0 8px;
            }

            .description {
              font: var(--font-base);
              line-height: 148%;
              margin-bottom: 50px;
            }
          }
        }
      }
    }

    .addon {
      background: #e4f4ec;
      border-radius: 20px;
      font: var(--font-subtitle);
      font-size: 25px;
      padding: 18px 23px 40px;
      background-image: url("/shield.svg");
      background-repeat: no-repeat;
      background-size: 120px;
      background-position: bottom -30px right -30px;
    }
  }
}
