.wrap {
  display: inline-block;
  padding: 16px 48px;
  border-radius: 50px;
  font: var(--font-bold);
  font-size: 20px;
  cursor: pointer;
  text-align: center;

  &.basic {
    color: white;
    background: var(--color-green);
    box-shadow: 0px 8px 12px rgba(29, 180, 100, 0.16);
  }

  &.light {
    color: white;
    background: var(--color-green);
    box-shadow: none;
  }

  &.invert {
    box-shadow: none;
    color: white;
    background: black;
  }

  &.dark {
    box-shadow: none;
    color: white;
    background: #007235;
  }

  &.disabled {
    box-shadow: none;
    color: black;
    background: #F2F2F2;
  }
}
