.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  float: right;

  .phone {
    font: var(--font-title);
    font-size: 24px;
    line-height: 130%;
    margin-bottom: 12px;
    text-align: right;

    .phoneIcon {
      position: relative;
      display: inline-block;
      bottom: -2px;
      right: 6px;

      &.invert {
        filter: invert(1);
      }
    }
  }

  .address {
    text-align: right;
    font: var(--font-bold);
    font-size: 15px;
    line-height: 130%;

    .addressIcon {
      position: relative;
      display: inline-block;
      bottom: -1px;
      right: 5px;

      &.invert {
        filter: invert(1);
      }
    }
  }
}
