.wrap {
  font: var(--font-bold);
  font-size: 16px;
  text-decoration: underline;
  display: flex;
  align-items: center;

  .icon {
    width: 20px;
    height: 20px;
    // filter: grayscale(1) brightness(2) contrast(2);

    &.invert {
      filter: grayscale(1) brightness(2) contrast(2);
    }
  }

  .href {
    margin-left: 6px;
  }
}
