.wrap {
  position: fixed;
  top: 5%;
  left: 0;
  width: 100vw;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: flashWrap 4s;
  opacity: 0;

  .flash {
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border-radius: 16px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);

    &.success {
      background: var(--color-green);
    }

    &.error {
      background: var(--color-red);
    }
  }
}


@keyframes flashWrap {
  from {top: 45%; opacity: 0.5;}
  20% {top: 5%; opacity: 1;}
  90% {top: 5%; opacity: 1;}
  to {top: 5%; opacity: 0;}
}