.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99;
  overflow-y: auto;

  .container {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .close {
      width: 100%;
      text-align: right;
      color: white;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      cursor: pointer;

      .times {
        margin-left: 10px;
      }
    }

    .wrap {
      background: white;
      padding: 40px;
      border-radius: 8px;
    }
  }

  @media (max-width: 1280px) {
    .container {
      .wrap {
        padding: 20px;
      }
    }
  }
}
