.wrap {
  position: relative;


  .select {
    // position: relative;
    width: 100%;
    padding: 23px 40px;
    border: 1px solid black;
    background: white;
    font: var(--font-header);
    outline: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.opened {
      border-bottom-right-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }

    option {
      font: var(--font-base);
    }
  }

  .down {
    position: absolute;
    right: 14px;
    top: 12px;
    pointer-events: none;

    // &.revert {
    //   transform: rotate(180deg);
    // }
  }

  .label {
    position: absolute;
    padding: 0 10px;
    top: -12px;
    left: 30px;
    background: white;

    .asterisk {
      color: gray;
    }
  }

  .subMenuContainer {
    position: absolute;
    z-index: 1;
    top: 42px;
    left: 0;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    border-radius: 12px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border: 1px solid #b7b7b7;
    border-top: none;
    // background: white;

    &::-webkit-scrollbar {
      width: 0px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
    }

    .subMenu {
      position: relative;
      padding: 0;
      // margin-top: 50px;
      // background: white;

      .subMenuItem {
        position: relative;
        padding: 10px 30px;
        cursor: pointer;
        background: white;

        &:hover {
          background: #e4f4ec;
        }

        &.selected {
          background-color: var(--color-green);
          color: white;
        }
      }
    }
  }

  @media (max-width: 1280px) {
    width: 100%;
    
    .select {
      padding: 6px 28px;
      font-size: 18px;
      line-height: 28px;
    }

    .down {
      position: absolute;
      width: 28px;
      height: 28px;
      right: 8px;
      top: 16px;
      pointer-events: none;
    }

    .label {
      top: -8px;
      left: 22px;
    }
  }
}
