@mixin container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 60px;

  @media (max-width: 1280px) {
    max-width: 960px;
  }

  @media (max-width: 768px) {
    padding: 0 15px;
  }
}

@mixin transition {
  transition: all 0.25s linear;
}
