@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Gilroy'), url("../fonts/Gilroy-Extrabold.ttf") format("truetype");
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Gilroy'), url("../fonts/Gilroy-Bold.ttf") format("truetype");
}


@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Gilroy'), url("../fonts/Gilroy-Semibold.ttf") format("truetype");
}


@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Gilroy'), url("../fonts/Gilroy-Medium.ttf") format("truetype");
}

