@import "./fonts.scss";

:root {
  --color-white: #ffffff;
  --color-gray: #d8d8d8;
  --color-green: #1fab61;
  --color-black: #1b1b1b;
  --color-red: #dc3500;

  --font-title: normal 800 50px/130% "Gilroy";
  --font-subtitle: normal 700 25px/130% "Gilroy";
  --font-bold: normal 600 18px/130% "Gilroy";
  --font-base: normal 500 18px/118% "Gilroy";

  @media (max-width: 768px) {
    --font-title: normal 800 35px/130% "Gilroy";
    --font-subtitle: normal 700 24px/130% "Gilroy";
    --font-bold: normal 600 16px/130% "Gilroy";
    --font-base: normal 500 16px/118% "Gilroy";
  }
}

html,
body {
  font: var(--font-base);
}
